html{
  box-sizing: border-box;
}

*, 
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: avenir next, sans-serif;
  padding: 2em;
}

img {
  padding: 1em;
  background-color: rgb(188, 188, 188, 0.6);
}

h1 {
  color: #2d2d2d;
  padding: 0.7em;
  font-weight: normal;
  font-size: 1.5em;
  background-color: rgb(188, 188, 188, 0.6);
  box-shadow: 1px 1px 100px 1px #000000;
}

/****** CLOCK STYLES ******/

#clockdate {
    background-color: rgb(188, 188, 188, 0.6);
    padding: 1.8em;
    max-width: 80%;
    text-align:center;
    margin:0 auto;
    box-shadow: 1px 1px 100px 1px #000000;
}

#clock{
    font-size: 3.5em;
    text-shadow:0px 0px 1px #fff;
    color:#2d2d2d;
}

#date {
    padding: 0.3em;
    font-size: 1.5em;
    color: #2d2d2d;
}

/****** CLOCK STYLES ******/

/************Mid**************/
 @media only screen and (min-width: 601px){

     body {

     }
}
/**********End Mid************/
/***********Large*************/
 @media only screen and (min-width: 1024px) {


 }
/*********End Large***********/
/************XL**************/
 @media only screen and (min-width: 1824px) {
     
     body {

    }
}
/**********End XL************/